body[dir=rtl] {
    text-align: right;

    .menu {
        > li {
            &:last-child {
                padding-right: 30px;
            }

            &:first-child {
                margin-right: 0;
                padding-right: 0;
            }
        }
    }

    .float-left {
        float: right;
    }

    .text-left {
        text-align: right;
    }

    .form--subscribe, .form--primary-search {
        button {
            left: 0;
            right: auto;
        }
    }

    .product {
        .product__content {
            text-align: right;
        }
    }

    .badge {
        .badge--sale {
            direction: ltr;
        }
    }

    .owl-nav {
        .owl-prev {
            float: left;
        }
    }

    .product--detail {
        .tab-list {
            li:last-child {
                margin-right: 30px;
            }

            li:first-child {
                margin-right: 0;
            }
        }

        .product__info {
            text-align: right;
        }
    }

    @media screen and (min-width: 992px) {
        .shop--sidebar {
            .shop__left {
                padding-left: 30px;
                padding-right: 0;
            }
        }
    }

    @media screen and (min-width: 768px) {
        .form--login {
            .form__password {
                a {
                    left: 10px;
                    right: auto;
                }
            }
        }
    }
}

#alert-container {
    left: 5px;
    right: auto;

    .alert {
        .message-icon {
            right: 5%;
            left: auto;
        }

        padding: 15px 60px 15px 40px;
    }

    .alert.alert-dismissible {
        .close {
            left: 15px;
            right: auto;
        }
    }
}

.avatar-preview {
    margin-right: 0;
    margin-left: 15px;
}

.modal-header .close {
    float: left;
    margin: 0;
}

.ps-checkbox {
    label {
        padding-left: 0;
        padding-right: 30px;
        &:before {
            left: auto;
            right: 0;
        }
        &:after {
            left: auto;
            right: 7px;
        }
    }
}

.customer-page .profile-sidebar .profile-usermenu li.list-group-item a {
    padding-right: 10px;
}

.customer-page .dashboard-address .edit-customer-address {
    left: 45px;
    right: auto;
}

.panel--sidebar .panel__close {
    left: 0;
    right: auto;
}

.product--on-cart .product__content .product__remove {
    left: 0;
    right: auto;
}

.cart__actions a i {
    display: inline-block;
    &:before {
        content: "\e828";
    }
}

.list--plus li a {
    padding-left: 0;
    padding-right: 15px;
}

.list--plus li a:before {
    left: auto;
    right: 0;
}

.product--detail .product__color .color-swatch li {
    margin-right: 0;
    margin-left: 5px;
}

@media (min-width: 992px) {
    .product--detail .product__header .product__thumbnail {
        padding-right: 0;
        padding-left: 30px;
    }
}
